<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
        <div class="row">
                <div class="col-md-6">
                    <div class="imgContainerShow">
                        <img src="http://image.tmdb.org/t/p/w500<%= data.backdrop_path %>" />
                            <div class="movieInfoShow">
                                
                                <div class="movieTitle">
                                 <%= data.original_title %>
                                </div>
                                <div class="movieGenre">
                                    Genre:
                                        <% data.genres.forEach((genre) => { %> 
                                            <span class="genre"></span><%=genre.name%> </span>
                                        <% }); %>
                                        
                                    </div>
                                    <div class="extraInfo">
                                        <p>Release Date: <%= data.release_date %></p>
                                        <p>Runtime: <%= data.runtime %> minutes</p> 
                                        <hr>
                                    </div>

                                <div class="movieDescriptionShow">
                                    <p><%= data.overview %></p>
                                    
                                </div>
                                <div class="movieRating">
                                    rating: <%= data.vote_average %>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>